<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Products</title>
  <meta name="viewport" content="user-scalable = no">
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/2b7bdad9a4.js" crossorigin="anonymous"></script>
  <!-- stylesheet -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/product.css">
</head>

<body>
  <!-- navbar top -->
  <nav class="navbar bg-light fixed-top">
    <div class="container-fluid nav navmargin">
      <a class="navbar-brand" href="#">
        <img src="images/logo_organic_new_pages-to-jpg-0001-removebg-preview.png" alt="Logo">
      </a>
      <a href="#" style="text-align: right; margin-right:50px;"><i class="fa-regular fa-comments icon"></i></a>
    </div>
  </nav>


  <section id="searchbar" class="container-fluid first" style="z-index:0;">
    <div class="input-group rounded">
      <input id="searchbox" type="text" name="search" onkeyup="search_product()" placeholder="Search Products Here..." class="form-control rounded" style="z-index:0;">
    </div>
    <div id="searchqueryresult">
      <div class="searchresult">Anak Usaha</div>
      <div class="searchresult">Buah</div>
      <div class="searchresult">Frozen</div>
      <div class="searchresult">Produk Kemasan</div>
      <div class="searchresult">Produk Olahan</div>
      <div class="searchresult">Sayur</div>
    </div>
  </section>


  <section id="sayur" class="container-fluid">
    <div class="btn btn-outline-dark rounded-box title-button js-scroll"><i class="fa-solid fa-leaf"></i> Sayur</div>
    <div class="products-section bordered">
      <div class="items row">
        <form action="/addproducts" enctype="multipart/form-data" method="post" class="col-sm-6 col-lg-4 col-xl-3 items">
          <div class="form-group card">
            <div class="form-image-container">
              <img id="output" class="card-img-top" alt="Gambar Produk (klik choose)">
            </div>
            <div class="card-body">
              <input class="form-image" type="file" name="image" accept="image/*" onchange="loadFile(event)" placeholder="Add Image">
              <select name="jenis">
                <option value="">(Jenis Produk)</option>
                <option value="Sayur Berdaun">Sayur Berdaun</option>
                <option value="Sayur Lain">Sayur Lain</option>
                <option value="Kacang">Kacang</option>
                <option value="Bawang">Bawang</option>
                <option value="Umbi">Umbi</option>
              </select>
              <input type="text" name="name" value="" placeholder="Nama produk" class="form-product-name">
              <input type="text" name="desc" value="" placeholder="Deskripsi Produk" class="form-product-description">
              <div style="text-align:center;">
                <label for="harga" class="form-price-label">Rp. </label>
                <input type="text" name="harga" value="" placeholder="Harga Produk" class="form-product-price">
              </div>
              <input type="text" name="type" value="sayur" style="display:none;">
              <button type="submit" class="btn btn-success rounded-box" style='margin:30px auto;'>Add Product</button>
            </div>
          </div>
        </form>
        {% for key, jenis in sayur %}
        <div class="subheader">
           {{key}}
        </div>
          {% set m = 0 %}
          {% for item in jenis %}
          <div class="col-sm-6 col-lg-4 col-xl-3 items">
            <div class="card" id="{{item.id}}">
              <div class="image-container"><img src="images/{{item.img}}" class="card-img-top" alt="..."></div>
              <div class="card-body">

                <h3 class="card-title">{{item.name}}</h3>
                <p class="card-text">{{item.desc}}</p>
                <p class="card-text">Rp.<span id="{{'harga'+item.id_harga}}">{{item.harga}}</span></p>
                <div class="number">
                  <span class="minus" onclick="minus(this)">-</span>
                  <input id="{{item.id_harga}}" type="text" value="1" />
                  <span class="plus" onclick="plus(this)">+</span>
                </div>
                <a href='/removeproducts/sayur/{{item.jenis}}/{{m}}'>
                  <button type="button" class="btn btn-danger rounded-box" style='margin:30px auto;'>Remove Product</button>
                </a>
              </div>
            </div>
          </div>
          {% set n = m+1 %}
          {% set m = n %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="buah" class="container-fluid">
    <div class="btn btn-outline-dark rounded-box title-button js-scroll"><i class="fa-solid fa-apple-whole"></i> Buah</div>
    <div class="products-section bordered">
      <div class="items row">
        <form action="/addproducts" enctype="multipart/form-data" method="post" class="col-sm-6 col-lg-4 col-xl-3 items">
          <div class="form-group card">
            <div class="form-image-container">
              <img id="output" class="card-img-top" alt="Gambar Produk (klik choose)">
            </div>
            <div class="card-body">
              <input class="form-image" type="file" name="image" accept="image/*" onchange="loadFile(event)" placeholder="Add Image">
              <select name="jenis">
                <option value="">(Jenis Produk)</option>
                <option value="Buah Reguler">Buah Reguler</option>
                <option value="Buah Musiman">Buah Musiman</option>
              </select>
              <input type="text" name="name" value="" placeholder="Nama produk" class="form-product-name">

              <input type="text" name="desc" value="" placeholder="Deskripsi Produk" class="form-product-description">

              <div style="text-align:center;">
                <label for="harga" class="form-price-label">Rp. </label>
                <input type="text" name="harga" value="" placeholder="Harga Produk" class="form-product-price">
              </div>
              <!-- <input type="text" name="id_harga" value="{{'buah' + buah|length}}" style="display:none;"> -->
              <input type="text" name="type" value="buah" style="display:none;">
              <button type="submit" class="btn btn-success rounded-box" style='margin:30px auto;'>Add Product</button>
            </div>
          </div>
        </form>

        {% for key, jenis in buah %}
        <div class="subheader">
           {{key}}
        </div>
          {% set m = 0 %}
          {% for item in jenis %}
          <div class="col-sm-6 col-lg-4 col-xl-3 items">
            <div class="card" id="{{item.id}}">
              <div class="image-container"><img src="images/{{item.img}}" class="card-img-top" alt="..."></div>
              <div class="card-body">

                <h3 class="card-title">{{item.name}}</h3>
                <p class="card-text">{{item.desc}}</p>
                <p class="card-text">Rp.<span id="{{'harga'+item.id_harga}}">{{item.harga}}</span></p>
                <div class="number">
                  <span class="minus" onclick="minus(this)">-</span>
                  <input id="{{item.id_harga}}" type="text" value="1" />
                  <span class="plus" onclick="plus(this)">+</span>
                </div>
                <a href='/removeproducts/buah/{{item.jenis}}/{{m}}'>
                  <button type="button" class="btn btn-danger rounded-box" style='margin:30px auto;'>Remove Product</button>
                </a>
              </div>
            </div>
          </div>
          {% set n = m+1 %}
          {% set m = n %}
          {% endfor %}


        {% endfor %}
      </div>
    </div>
  </section>

  <section id="produkkemasan" class="container-fluid">
    <div class="btn btn-outline-dark rounded-box title-button js-scroll"><i class="fa-solid fa-egg"></i> Produk Kemasan</div>
    <div class="products-section bordered">
      <div class="items row">
        <form action="/addproducts" enctype="multipart/form-data" method="post" class="col-sm-6 col-lg-4 col-xl-3 items">
          <div class="form-group card">
            <div class="form-image-container">
              <img id="output" class="card-img-top" alt="Gambar Produk (klik choose)">
            </div>
            <div class="card-body">
              <input class="form-image" type="file" name="image" accept="image/*" onchange="loadFile(event)" placeholder="Add Image">
              <select name="jenis">
                <option value="">(Jenis Produk)</option>
                <option value="Lokal">Lokal</option>
                <option value="Import">Import</option>
              </select>
              <input type="text" name="name" value="" placeholder="Nama produk" class="form-product-name">

              <input type="text" name="desc" value="" placeholder="Deskripsi Produk" class="form-product-description">

              <div style="text-align:center;">
                <label for="harga" class="form-price-label">Rp. </label>
                <input type="text" name="harga" value="" placeholder="Harga Produk" class="form-product-price">
              </div>
              <!-- <input type="text" name="id_harga" value="{{'produkkemasan' + produkkemasan|length}}" style="display:none;"> -->
              <input type="text" name="type" value="produkkemasan" style="display:none;">
              <button type="submit" class="btn btn-success rounded-box" style='margin:30px auto;'>Add Product</button>
            </div>
          </div>
        </form>

        {% for key, jenis in produkkemasan %}
        <div class="subheader">
           {{key}}
        </div>
          {% set m = 0 %}
          {% for item in jenis %}
          <div class="col-sm-6 col-lg-4 col-xl-3 items">
            <div class="card" id="{{item.id}}">
              <div class="image-container"><img src="images/{{item.img}}" class="card-img-top" alt="..."></div>
              <div class="card-body">

                <h3 class="card-title">{{item.name}}</h3>
                <p class="card-text">{{item.desc}}</p>
                <p class="card-text">Rp.<span id="{{'harga'+item.id_harga}}">{{item.harga}}</span></p>
                <div class="number">
                  <span class="minus" onclick="minus(this)">-</span>
                  <input id="{{item.id_harga}}" type="text" value="1" />
                  <span class="plus" onclick="plus(this)">+</span>
                </div>
                <a href='/removeproducts/produkkemasan/{{item.jenis}}/{{m}}'>
                  <button type="button" class="btn btn-danger rounded-box" style='margin:30px auto;'>Remove Product</button>
                </a>
              </div>
            </div>
          </div>
          {% set n = m+1 %}
          {% set m = n %}
          {% endfor %}


        {% endfor %}
      </div>
    </div>
    </div>
    </div>
    </div>
  </section>

  <section id="frozen" class="container-fluid">
    <div class="btn btn-outline-dark rounded-box title-button js-scroll"><i class="fa-solid fa-fish"></i> Frozen</div>
    <div class="products-section bordered">
      <div class="items row">
        <form action="/addproducts" enctype="multipart/form-data" method="post" class="col-sm-6 col-lg-4 col-xl-3 items">
          <div class="form-group card">
            <div class="form-image-container">
              <img id="output" class="card-img-top" alt="Gambar Produk (klik choose)">
            </div>
            <div class="card-body">
              <input class="form-image" type="file" name="image" accept="image/*" onchange="loadFile(event)" placeholder="Add Image">
              <select name="jenis">
                <option value="">(Jenis Produk)</option>
                <option value="Ayam">Ayam</option>
                <option value="Ikan">Ikan</option>
                <option value="Olahan">Olahan</option>
              </select>
              <input type="text" name="name" value="" placeholder="Nama produk" class="form-product-name">

              <input type="text" name="desc" value="" placeholder="Deskripsi Produk" class="form-product-description">

              <div style="text-align:center;">
                <label for="harga" class="form-price-label">Rp. </label>
                <input type="text" name="harga" value="" placeholder="Harga Produk" class="form-product-price">
              </div>
              <!-- <input type="text" name="id_harga" value="{{'frozen' + frozen|length}}" style="display:none;"> -->
              <input type="text" name="type" value="frozen" style="display:none;">
              <button type="submit" class="btn btn-success rounded-box" style='margin:30px auto;'>Add Product</button>
            </div>
          </div>
        </form>

        {% for key, jenis in frozen %}
        <div class="subheader">
           {{key}}
        </div>
          {% set m = 0 %}
          {% for item in jenis %}
          <div class="col-sm-6 col-lg-4 col-xl-3 items">
            <div class="card" id="{{item.id}}">
              <div class="image-container"><img src="images/{{item.img}}" class="card-img-top" alt="..."></div>
              <div class="card-body">

                <h3 class="card-title">{{item.name}}</h3>
                <p class="card-text">{{item.desc}}</p>
                <p class="card-text">Rp.<span id="{{'harga'+item.id_harga}}">{{item.harga}}</span></p>
                <div class="number">
                  <span class="minus" onclick="minus(this)">-</span>
                  <input id="{{item.id_harga}}" type="text" value="1" />
                  <span class="plus" onclick="plus(this)">+</span>
                </div>
                <a href='/removeproducts/frozen/{{item.jenis}}/{{m}}'>
                  <button type="button" class="btn btn-danger rounded-box" style='margin:30px auto;'>Remove Product</button>
                </a>
              </div>
            </div>
          </div>
          {% set n = m+1 %}
          {% set m = n %}
          {% endfor %}


        {% endfor %}
      </div>
    </div>
  </section>

  <section id="produkolahan" class="container-fluid last">
    <div class="btn btn-outline-dark rounded-box title-button js-scroll"><i class="fa-solid fa-cookie-bite"></i> Produk Olahan</div>
    <div class="products-section bordered">
      <div class="items row">
        <form action="/addproducts" enctype="multipart/form-data" method="post" class="col-sm-6 col-lg-4 col-xl-3 items">
          <div class="form-group card">
            <div class="form-image-container">
              <img id="output" class="card-img-top" alt="Gambar Produk (klik choose)">
            </div>
            <div class="card-body">
              <input class="form-image" type="file" name="image" accept="image/*" onchange="loadFile(event)" placeholder="Add Image">
              <select name="jenis">
                <option value="">(Jenis Produk)</option>
                <option value="Household">Household</option>
                <option value="Skin">Skin & Body Care</option>
                <option value="Sustainable">Sustainable</option>
              </select>
              <input type="text" name="name" value="" placeholder="Nama produk" class="form-product-name">

              <input type="text" name="desc" value="" placeholder="Deskripsi Produk" class="form-product-description">

              <div style="text-align:center;">
                <label for="harga" class="form-price-label">Rp. </label>
                <input type="text" name="harga" value="" placeholder="Harga Produk" class="form-product-price">
              </div>
              <!-- <input type="text" name="id_harga" value="{{'produkolahan' + produkolahan|length}}" style="display:none;"> -->
              <input type="text" name="type" value="produkolahan" style="display:none;">
              <button type="submit" class="btn btn-success rounded-box" style='margin:30px auto;'>Add Product</button>
            </div>
          </div>
        </form>

        {% for key, jenis in produkolahan %}
        <div class="subheader">
           {{key}}
        </div>
          {% set m = 0 %}
          {% for item in jenis %}
          <div class="col-sm-6 col-lg-4 col-xl-3 items">
            <div class="card" id="{{item.id}}">
              <div class="image-container"><img src="images/{{item.img}}" class="card-img-top" alt="..."></div>
              <div class="card-body">

                <h3 class="card-title">{{item.name}}</h3>
                <p class="card-text">{{item.desc}}</p>
                <p class="card-text">Rp.<span id="{{'harga'+item.id_harga}}">{{item.harga}}</span></p>
                <div class="number">
                  <span class="minus" onclick="minus(this)">-</span>
                  <input id="{{item.id_harga}}" type="text" value="1" />
                  <span class="plus" onclick="plus(this)">+</span>
                </div>
                <a href='/removeproducts/produkolahan/{{item.jenis}}/{{m}}'>
                  <button type="button" class="btn btn-danger rounded-box" style='margin:30px auto;'>Remove Product</button>
                </a>
              </div>
            </div>
          </div>
          {% set n = m+1 %}
          {% set m = n %}
          {% endfor %}


        {% endfor %}
      </div>
    </div>
  </section>

  <section id="anakusaha" class="container-fluid last">
    <div class="btn btn-outline-dark rounded-box title-button js-scroll"><i class="fa-solid fa-cookie-bite"></i> Anak Usaha</div>
    <div class="products-section bordered">
      <div class="items row">
        <form action="/addproducts" enctype="multipart/form-data" method="post" class="col-sm-6 col-lg-4 col-xl-3 items">
          <div class="form-group card">
            <div class="form-image-container">
              <img id="output" class="card-img-top" alt="Gambar Produk (klik choose)">
            </div>
            <div class="card-body">
              <input class="form-image" type="file" name="image" accept="image/*" onchange="loadFile(event)" placeholder="Add Image">
              <select name="jenis">
                <option value="">(Jenis Produk)</option>
                <option value="Okay Juice">Okay Juice</option>
                <option value="Madesan">Madesan</option>
              </select>
              <input type="text" name="name" value="" placeholder="Nama produk" class="form-product-name">

              <input type="text" name="desc" value="" placeholder="Deskripsi Produk" class="form-product-description">

              <div style="text-align:center;">
                <label for="harga" class="form-price-label">Rp. </label>
                <input type="text" name="harga" value="" placeholder="Harga Produk" class="form-product-price">
              </div>
              <!-- <input type="text" name="id_harga" value="{{'anakusaha' + anakusaha|length}}" style="display:none;"> -->
              <input type="text" name="type" value="anakusaha" style="display:none;">
              <button type="submit" class="btn btn-success rounded-box" style='margin:30px auto;'>Add Product</button>
            </div>
          </div>
        </form>

        {% for key, jenis in anakusaha %}
        <div class="subheader">
           {{key}}
        </div>
          {% set m = 0 %}
          {% for item in jenis %}
          <div class="col-sm-6 col-lg-4 col-xl-3 items">
            <div class="card" id="{{item.id}}">
              <div class="image-container"><img src="images/{{item.img}}" class="card-img-top" alt="..."></div>
              <div class="card-body">

                <h3 class="card-title">{{item.name}}</h3>
                <p class="card-text">{{item.desc}}</p>
                <p class="card-text">Rp.<span id="{{'harga'+item.id_harga}}">{{item.harga}}</span></p>
                <div class="number">
                  <span class="minus" onclick="minus(this)">-</span>
                  <input id="{{item.id_harga}}" type="text" value="1" />
                  <span class="plus" onclick="plus(this)">+</span>
                </div>
                <a href='/removeproducts/anakusaha/{{item.jenis}}/{{m}}'>
                  <button type="button" class="btn btn-danger rounded-box" style='margin:30px auto;'>Remove Product</button>
                </a>
              </div>
            </div>
          </div>
          {% set n = m+1 %}
          {% set m = n %}
          {% endfor %}


        {% endfor %}
      </div>
    </div>
  </section>

  <!-- navbar bottom -->
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid row">
      <a class="col-3 text-center" href="/admin">
        <i class="fa-solid fa-house icon"></i>
      </a>
      <a class="col-3 text-center" onclick="searchbar_navigation()">
        <i class="fa-solid fa-magnifying-glass icon"></i>
      </a>
      <a class="button-header col-3 text-center pull-left" href="/editproducts">
         <i class="fas fa-edit icon"></i>
      </a>
    </div>
  </nav>

  <!-- local script -->
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="script/product.js"></script>
  <script>
    var loadFile = function(event) {
      var image = document.getElementById('output');
      image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>
  <!-- boostrap script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>

</html>